practice-04-capstone/nodered-data/flows.json
[
    {
        "id": "tab-orchestration",
        "type": "tab",
        "label": "Orchestration",
        "disabled": false,
        "info": "Main business process flow. Build the happy path here: order intake -> routing -> payment -> inventory -> notification -> response."
    },
    {
        "id": "n1",
        "type": "inject",
        "z": "tab-orchestration",
        "name": "Start Order",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"orderId\": \"ORD-123\", \"correlationId\": \"CORR-456\", \"orderType\": \"standard\"}",
        "payloadType": "json",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "n2"
            ]
        ]
    },
    {
        "id": "n2",
        "type": "http request",
        "z": "tab-orchestration",
        "name": "Order Service",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://order-service:3001/orders",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 280,
        "y": 80,
        "wires": [
            [
                "n3"
            ]
        ]
    },
    {
        "id": "n3",
        "type": "http request",
        "z": "tab-orchestration",
        "name": "Authorize Payment",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://payment-service:3002/payment/authorize",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 150,
        "y": 280,
        "wires": [
            [
                "n4"
            ]
        ]
    },
    {
        "id": "n4",
        "type": "switch",
        "z": "tab-orchestration",
        "name": "направить",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "authorized",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "n5"
            ],
            [
                "n9"
            ]
        ]
    },
    {
        "id": "n5",
        "type": "http request",
        "z": "tab-orchestration",
        "name": "Inventory Request",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://inventory-service:3003/inventory/reserve",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "n6"
            ]
        ]
    },
    {
        "id": "n6",
        "type": "http request",
        "z": "tab-orchestration",
        "name": "Call Notification",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://notification-service:3004/notification/send",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 240,
        "wires": [
            [
                "n7"
            ]
        ]
    },
    {
        "id": "n7",
        "type": "change",
        "z": "tab-orchestration",
        "name": "изменить: 3 правила",
        "rules": [
            {
                "t": "set",
                "p": "payload.status",
                "pt": "msg",
                "to": "completed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.orderId",
                "pt": "msg",
                "to": "payload.orderId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.correlationId",
                "pt": "msg",
                "to": "payload.correlationId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 320,
        "wires": [
            [
                "n8"
            ]
        ]
    },
    {
        "id": "n8",
        "type": "http response",
        "z": "tab-orchestration",
        "name": "http",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "n9",
        "type": "change",
        "z": "tab-orchestration",
        "name": "Error: Payment Failed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\": \"failed\", \"error\": \"Insufficient funds\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "n8"
            ]
        ]
    }
]